.left-side {
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  border-radius: 1rem;
}
label {
  font-weight: bold;
  font-size: 0.8rem;
}
.plan:hover {
  transform: scale(1.12);
  transition: all 0.6s linear;
  border: 0.5px solid rgba(128, 128, 128, 0.488);
}
.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5rem;
}
